<h1>Budget View</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Year-Month</th>
      <th>Budget Limit</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in bc.budgetHistory.limits">
      <td>{{bc.convertDate(item.date)}}</td>
      <td>{{item.budget_limit}}</td>
      <td><button ng-click="bc.selectBudget(item.budget_limit)">Use this Budget</button></td>
    </tr>
  </tbody>
</table>
<h3 class="text-center">Selected Monthly Budget</h3>
<h4 class="text-center">${{bc.selectedBudget[0]}}</h4>
<div class="form-group">
  <label for="budgetInput">Enter Monthly Budget Limit:</label>
  <input ng-model="bc.newBudget.limit" type="number" class="form-control" id="budgetInput">
</div>

<div class="form-group">
  <label for="month">Select Month:</label>
  <select ng-model="bc.newBudget.month" class="form-control" id="month">
    <option>January</option>
    <option>February</option>
    <option>March</option>
    <option>April</option>
    <option>May</option>
    <option>June</option>
    <option>July</option>
    <option>August</option>
    <option>September</option>
    <option>October</option>
    <option>November</option>
    <option>December</option>
  </select>
</div>

<div class="form-group">
  <label for="year">Select Year:</label>
  <select ng-model="bc.newBudget.year" class="form-control" id="year">
    <option>2017</option>
    <option>2018</option>
    <option>2019</option>
    <option>2020</option>
  </select>
</div>

<button ng-click=bc.setNewBudget()>Set New Budget</button>

{{bc.newBudget}}
